{% load static %}
<!--Graphs-->


<div class="container ">
<div class="row ">
  <!--chart one -->
<div class="col-md-6">
  <div class="card p-3 m-4">




<div>
  <canvas id="barChart" style="width:100%; max-width:600px; height:400px;"></canvas>
</div>
<script>

const ctx = document.getElementById('barChart');

const aValues = [{% for category in  catergory_list %} '{{ category }}', {% endfor %}];
const bValues = [{% for number in  catergory_number %} '{{  number }}', {% endfor %}];
const bColors = ["red", "green","blue","orange","brown"];

new Chart("barChart", {
  type: "bar",
  data: {
    labels: aValues,
    datasets: [{
      backgroundColor: bColors,
      data: bValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Woodland Wildlife"
    }
  }
});

</script>
</div>
</div>
<!--end of chart one -->
<!--chart two -->
<div class="col-md-6">
  <div class="card p-3 m-4">
  
<canvas id="piChart"  style="width:100%; max-width:600px; height:400px;"></canvas>

<script>
 
       
var xValues = [{% for category in  catergory_list %} '{{ category }}', {% endfor %}]
var yValues =[{% for number in  catergory_number %} '{{  number }}', {% endfor %}]
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("piChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Woodland Wildlife"
    }
  }
});

</script>


  </div>



</div>
<!--end of chart two -->
</div>


</div>






  
<div class="col-md-6">

<!--chart two -->
<!--end of chart two -->
</div>










<!-- End Graphs-->