{% load static %}

   <div class=" container">
    <div class="row mt-5">
      <div class="col-md-4">
      <div class="card " style="width: 18rem;">
        
      
                
                   
                        {% if profiles.profile_image %}
                            <img class="card-img-top" src="{{ profiles.profile_image.url }}" alt="{{ profile.user.username }}">
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/default_profile_image.png' %}" alt="Default Profile Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ profiles.user.username }}</h5>
                            <p class="card-text">{{ profiles.profile_bio }}</p>
                            {% if profile.facebook_link %}
                                <a href="{{ profiles.facebook_link }}" class="btn btn-primary">Facebook</a>
                            {% endif %}
                            <p class="card-text mt-2"><small class="text-muted">Last modified: {{ profiles.date_modified }}</small></p>
                            <a href="{% url 'members:update_user' %}" class="btn btn-primary">Update User</a>
                        </div>
                        
                    
                

      

    

      </div>

      </div>





       <div class="col-md-8">
       <div class="card">
        <div class="card-header bg-info">
          <h3 class="text-center text-white">Dashbord</h3>
        </div>
        
        <div class="card-body">
       <div class="row">
        <div class="col-md-3">
          <a class="text-decoration-none text-dark"    href="{% url 'frontend_app:add_area' %}">
            <div class="card dash-card shadow text-center p-3">
              <h4>Sample one  </h4>
              <div>
              <i class="bi bi-1-circle text-info display-3"></i>
              </div>
            </div>
          </a>
          </div>

         <div class="col-md-3">
          <a class="text-decoration-none text-dark"    href="">
            <div class="card dash-card shadow text-center p-3">
              <h4>Sample tow </h4>
              <div>
              <i class="bi bi-2-circle text-info display-3"></i>
              </div>
            </div>
          </a>
          </div>


         <div class="col-md-3">
          <a class="text-decoration-none text-dark"    href="">
            <div class="card dash-card shadow text-center p-3">
              <h4>Sample three </h4>
              <div>
              <i class="bi bi-3-circle text-info display-3"></i>
              </div>
            </div>
          </a>
          </div> 

          <div class="col-md-3">
          <a class="text-decoration-none text-dark"    href="">
            <div class="card dash-card shadow text-center p-3">
              <h4>Sample four </h4>
              <div>
              <i class="bi bi-4-circle text-info display-3"></i>
              </div>
            </div>
          </a>
          </div> 

        </div>
       </div>
          
          <div class="card-body">
       <div class="row">
        <div class="col-md-3">
          <a class="text-decoration-none text-dark"    href="">
            <div class="card dash-card shadow text-center p-3">
              <h4>Sample one  </h4>
              <div>
              <i class="bi bi-1-circle text-info display-3"></i>
              </div>
            </div>
          </a>
          </div>

         <div class="col-md-3">
          <a class="text-decoration-none text-dark"    href="">
            <div class="card dash-card shadow text-center p-3">
              <h4>Sample tow </h4>
              <div>
              <i class="bi bi-2-circle text-info display-3"></i>
              </div>
            </div>
          </a>
          </div>


         <div class="col-md-3">
          <a class="text-decoration-none text-dark"    href="">
            <div class="card dash-card shadow text-center p-3">
              <h4>Sample three </h4>
              <div>
              <i class="bi bi-3-circle text-info display-3"></i>
              </div>
            </div>
          </a>
          </div> 

          <div class="col-md-3">
          <a class="text-decoration-none text-dark"    href="">
            <div class="card dash-card shadow text-center p-3">
              <h4>Sample four </h4>
              <div>
              <i class="bi bi-4-circle text-info display-3"></i>
              </div>
            </div>
          </a>
          </div> 

        </div>
       </div>
        
        </div>
        
        




       </div>
      </div>

    
          
        </div>
       </div>
      </div>
 




 
   
      </div>
      </div>
      </div>


