<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand h4" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav h5">
        <li class="nav-item">
          <a class="nav-link" href="{%url  'frontend_app:home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url  'frontend_app:world'%}">world</a>
        </li>
        
       {% if user.is_authenticated %}
       {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{%url  'frontend_app:add_area'%}">Add Area</a>
            </li>
       {% endif %}  

        <li class="nav-item">
          <a class="nav-link" href="{%url  'members:logout'%}">Logout</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{%url  'members:update_user'%}">Update User</a>
        </li>

       {% else %}  
         <li class="nav-item">
          <a class="nav-link" href="{%url  'members:login'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url  'members:signup'%}">Signup</a>
        </li>

       {% endif %}  
        
         <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> 
        
      </ul>
    </div>
  </div>
</nav>















